.titulo {
    padding-top: 5%;
    text-align: center;
}

.integrantes {
    padding-left: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.parrafo-descripcion{
    color: black; 
    padding: 0 5% 1% 5%;
    text-align: justify;
}

.img-mascotas {
    height: 150px;
    width: 300px;
}

.tabla-mascotas {
    padding-left: 20%;
}

.link-mascotas {
    padding-left: 50px;
}

